@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/*===========================
Buttons
============================*/
.btn--emoji {
  width: 100%;
  height: 100px;
  font-size: 3rem;
  border: 2px solid var(--light-primary);
}

/*===========================
Form
============================*/

form {
  gap: 2em;
  font-size: 1.125rem;
  padding: 1em;
  border-radius: 0.5em;
}

.form__inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/*===========================
Game
============================*/
.card-container {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1em;
  width: 100%;
}

.card-item {
  list-style: none;
}

/* Animated memory card */
.card-item--selected,
.card-item--matched,
.btn--emoji__back--selected,
.btn--emoji__back--matched {
  transform: rotateY(180deg);
}

.card-item--selected {
  transition: 0.6s;
  transform-style: preserve-3d;
}

.btn--emoji__front,
.btn--emoji__back--selected {
  backface-visibility: hidden;
}

.btn--emoji__back--matched {
  backface-visibility: unset;
  cursor: not-allowed;
}

.btn--emoji__front:hover,
.btn--emoji__front:focus {
  cursor: pointer;
}

/*===========================
Screen reader only
============================*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*===========================
Media queries
============================*/
@media (min-width: 768px) {
  h1 {
    font-size: 2.75rem;
  }

  .btn--emoji {
    font-size: 4rem;
    height: 110px;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }

  .btn--emoji {
    font-size: 4.5rem;
    height: 125px;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}
